
:root {

    --swiper-theme-color: #3CBBB1 !important;

    --orange: #EE6300;
    --black: #323232;
    --gray: #4C5B61;
    --ciano: #3CBBB1;
    --white: #f0f0f0;
    --grayLight: #e0e0e0;

    transition: 0.4s;
}
