@font-face {
    font-family: "InterBold";
    src: url("../../../public/fonts/Inter_18pt-Bold.woff2");
}

@font-face {
    font-family: "InterRegular";
    src: url("../../../public/fonts/Inter_18pt-Regular.woff2");
}

@font-face {
    font-family: "InterMedium";
    src: url("../../../public/fonts/Inter_18pt-Medium.woff2");
}

@font-face {
    font-family: "InterLight";
    src: url("../../../public/fonts/Inter_18pt-Light.woff2");
}