h1, h2 {
    font-family: "InterBold" !important;
    letter-spacing: 1px;
    margin-bottom: 0.6rem;
}

h3, h4, h5, h6, li {
    font-family: "InterLight" !important;
    letter-spacing: 1px;
    margin-bottom: 0.6rem;
}

h1 {
    font-size: 4rem; 
}

h2 {
    font-size: 3.2rem; 
}

h3 {
    font-size: 2.4rem; 
}

h4 {
    font-size: 1.8rem; 
}

h5 {
    font-size: 1.4rem; 
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1.06rem;
    color: var(--gray);
    letter-spacing: 1px;
}

@media (max-width:900px) {

h1 {
    font-size: 3rem; 
}

h2 {
    font-size: 2.2rem; 
}

h3 {
    font-size: 2rem; 
}

h4 {
    font-size: 1.8rem; 
}

h5 {
    font-size: 1.6rem; 
}

h6 {
    font-size: 1.4rem; 
}

}