/* http://meyerweb.com/eric/tools/css/reset/ v2.0-modified | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

:root {
  --swiper-theme-color: #3CBBB1 !important;
  --orange: #EE6300;
  --black: #323232;
  --gray: #4C5B61;
  --ciano: #3CBBB1;
  --white: #f0f0f0;
  --grayLight: #e0e0e0;
  transition: 0.4s;
}

@font-face {
  font-family: "InterBold";
  src: url("../../../public/fonts/Inter_18pt-Bold.woff2");
}
@font-face {
  font-family: "InterRegular";
  src: url("../../../public/fonts/Inter_18pt-Regular.woff2");
}
@font-face {
  font-family: "InterMedium";
  src: url("../../../public/fonts/Inter_18pt-Medium.woff2");
}
@font-face {
  font-family: "InterLight";
  src: url("../../../public/fonts/Inter_18pt-Light.woff2");
}
h1, h2 {
  font-family: "InterBold" !important;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

h3, h4, h5, h6 {
  font-family: "InterLight" !important;
  letter-spacing: 1px;
  margin-bottom: 0.6rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

li {
  font-family: "InterRegular";
  letter-spacing: 1px;
}

p {
  font-size: 1.3rem;
}

@media (max-width: 900px) {
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.1;
  }
  h6 {
    font-size: 1rem;
  }
}
body::-webkit-scrollbar {
  width: 0px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--black); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--pink), var(--purple)); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "InterLight" !important;
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--grayLight);
}

button {
  font-family: "InterLight", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.pink {
  color: var(--pink);
}

.show-flex {
  display: flex !important;
}

.div-line {
  background-color: var(--grayLight);
  width: 100%;
  height: 1px;
}

.btn-default {
  background-color: var(--orange);
  padding: 1rem 2rem 1rem 2rem;
  color: var(--white);
  transition: 0.3s;
  border: 1px solid var(--orange);
  border-radius: 1.4rem;
}

.btn-default:hover {
  background-color: transparent;
  border: 1px solid var(--ciano);
  color: var(--ciano);
}

.input-default {
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--white);
  border: none;
  border-radius: 1.6rem;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 90vh;
}

.swiper-2 {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 0 0 4rem 4rem;
  background-color: var(--white);
  padding: 1.6rem 1.2rem;
  gap: 4rem;
  min-width: 56rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.container-nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-nav-logo img {
  width: 6rem;
}

.container-nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.container-nav-links .nav-link {
  color: var(--gray);
  font-size: 1.2rem;
  transition: 0.3s;
}

.container-nav-links .nav-link:hover {
  color: var(--black);
}

.container-nav-links:hover .nav-link {
  color: var(--grayLight);
}

.container-nav-links .nav-link:hover {
  color: var(--black);
}

.container-nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#btn-entrar {
  background-color: var(--ciano);
  border: 1px solid var(--ciano);
  padding-right: 5rem;
  margin-right: -4rem;
}

.container-btn-links:hover #btn-entrar {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  color: var(--white);
}
.container-btn-links:hover #btn-cadastrar {
  background-color: var(--ciano);
  color: var(--white);
  border: 1px solid var(--ciano);
}

.container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-user span {
  font-size: 1.2rem;
  color: var(--orange);
  cursor: pointer;
}
.container-user span:hover {
  color: var(--ciano);
}

.container-dropdown-items {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 8rem;
  gap: 1rem;
  background-color: var(--white);
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 0 0 2rem 2rem;
}
.container-dropdown-items a {
  font-size: 1.2rem;
  color: var(--orange);
  transition: 0.3s;
}
.container-dropdown-items a:hover {
  color: var(--ciano);
}

.container-name-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container-name-user span {
  font-size: 1.2rem;
  color: var(--orange);
}

.container-btn-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  display: none;
}
.container-btn-mobile .btn-line {
  width: 1.8rem;
  background-color: var(--orange);
  height: 2px;
}

.mobile_menu_dropdown {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 99;
}

.mobile_menu_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
}
.mobile_menu_container a, .mobile_menu_container h1 {
  color: var(--orange);
  transition: 0.3s;
  cursor: pointer;
}
.mobile_menu_container a:hover, .mobile_menu_container h1:hover {
  color: var(--ciano);
}
.mobile_menu_container i {
  font-size: 1.6rem;
}

.mobile_menu_close {
  position: relative;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.container_mobile_menu_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 1rem 1rem 0;
}
.container_mobile_menu_close .btn-line {
  width: 2rem;
  background-color: var(--orange);
  height: 3px;
}
.container_mobile_menu_close #btn-close-1 {
  transform: rotate(-45deg);
}
.container_mobile_menu_close #btn-close-2 {
  margin-top: -0.1rem;
  transform: rotate(45deg);
}

.mobile_menu_user_dropdown {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.4rem;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 0;
    background-color: var(--white);
    padding: 1.4rem 0rem;
    gap: 0rem;
    min-width: 1px;
    position: absolute;
    z-index: 99;
  }
  .container-nav-links {
    display: none;
  }
  .dropdown-user {
    display: none;
  }
  .container-btn-mobile {
    display: flex;
    cursor: pointer;
  }
  .container-btn-mobile .btn-line {
    width: 1.8rem;
    background-color: var(--orange);
    height: 2px;
  }
  #nav {
    gap: 0rem;
  }
  .container-user {
    display: none;
  }
}
#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-top: 4px solid var(--orange);
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem 0;
}
.footer-container img {
  width: 6rem;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.footer-icons i {
  font-size: 1.8rem;
  color: var(--orange);
  transition: 0.3s;
}
.footer-icons i:hover {
  transform: scale(1.1);
}

#section-header-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.header-banner-container-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 2;
}
.header-banner-container-title h1 {
  color: var(--white);
}
.header-banner-container-title i {
  font-size: 2.2rem;
  color: var(--white);
}

.header-banner-container-img {
  width: 100%;
  height: 100%;
  background-color: var(--black);
}
.header-banner-container-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#section-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 12rem;
}

.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  border-radius: 1rem;
  background-color: var(--white);
  min-width: 22rem;
  margin-bottom: 6rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.form input {
  background-color: transparent;
  border: 1px solid var(--grayLight);
  padding: 1rem 0 1rem 0.8rem;
  border-radius: 1rem;
  width: 100%;
  transition: 0.3s;
}

.container-checkbox-login {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 0.4rem;
}
.container-checkbox-login input[type=checkbox] {
  display: none;
}
.container-checkbox-login label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.4rem;
}

.custom-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--grayLight);
  background-color: transparent;
  position: relative;
}

input[type=checkbox]:checked + .custom-checkbox {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

input[type=checkbox]:checked + .custom-checkbox:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 9px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hero {
  width: 100%;
  height: 100%;
}

.hero-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}
.hero-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.hero-info {
  position: absolute;
  bottom: 20%;
  left: 20%;
  padding: 1rem;
  z-index: 1;
  max-width: 40rem;
}
.hero-info h1 {
  color: var(--ciano);
}
.hero-info p {
  color: var(--white);
  line-height: 1.6rem;
  font-size: 1.2rem;
}
.hero-info a {
  display: inline-block;
  margin-top: 1.6rem;
}

#section-service {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.service-img {
  max-width: 34rem;
  max-height: 32rem;
  border-radius: 4rem 1rem;
  background-color: var(--orange);
}
.service-img img {
  margin-top: -0.8rem;
  margin-left: -0.8rem;
  border-radius: 4rem 1rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.service-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.service-info h2 {
  color: var(--orange);
}

.service-container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-container-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin-bottom: 1rem;
}
.service-container-arrow h4 {
  color: var(--ciano);
}

.div-arrow {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div-arrow i {
  font-size: 1rem;
  color: var(--ciano);
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: var(--ciano);
  margin-right: -10px;
}

.service-container-text {
  min-height: 6.6rem;
}
.service-container-text h5 {
  color: var(--ciano);
  text-align: center;
}
.service-container-text p {
  color: var(--gray);
  font-size: 1rem;
  max-width: 14rem;
  text-align: center;
}

.service-container-info-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.service-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  margin-top: auto;
}

#Eris {
  text-align: center;
  color: var(--orange);
  font-size: 5rem;
  margin-top: auto;
  margin-bottom: -0.8rem;
}

#section-brand {
  display: flex;
  flex-direction: column;
  border-top: 4px solid var(--orange);
  border-bottom: 4px solid var(--orange);
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
  background-color: var(--gray);
}
#section-brand h1 {
  text-align: center;
  color: var(--ciano);
  margin-bottom: auto;
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-bottom: auto;
}

.container-card-brand {
  background-color: var(--white);
  padding: 4rem 2rem;
  border-radius: 2rem 1rem 2rem 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14rem;
  min-width: 12rem;
}

.card-img-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img-brand i {
  font-size: 2.4rem;
  color: var(--orange);
}

.card-info-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 9rem;
}
.card-info-brand h4 {
  color: var(--orange);
  text-align: center;
  font-family: "InterBold" !important;
}
.card-info-brand p {
  text-align: center;
  font-size: 1.1rem;
  color: var(--gray);
}

#section-budget {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.budget-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.budget-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-image: url("../../../public/img/bg-hero-4.jpg");
}

.budget-container-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 6rem;
  gap: 2rem;
  width: 50%;
  height: 100%;
  background-color: var(--white);
}
.budget-container-form h1 {
  color: var(--orange);
}
.budget-container-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.budget-container-form form input {
  padding: 1rem 0.6rem;
  background-color: var(--grayLight);
  border: none;
  border-radius: 1rem;
  min-width: 18rem;
}

.budget-container-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.budget-container-form-row div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

@media screen and (max-width: 900px) {
  .hero-info {
    position: absolute;
    bottom: 20%;
    left: 6%;
    padding: 1rem;
    z-index: 1;
    max-width: 40rem;
  }
  .hero-info h1 {
    color: var(--ciano);
  }
  .hero-info p {
    color: var(--white);
    line-height: 1.6rem;
    font-size: 1.2rem;
  }
  .hero-info a {
    display: inline-block;
    margin-top: 1.6rem;
  }
  #section-service {
    padding-top: 8rem;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    margin-top: auto;
  }
  .service-img {
    max-width: 22rem;
    max-height: 20rem;
    border-radius: 4rem 1rem;
    background-color: var(--orange);
  }
  .service-img img {
    margin-top: -0.8rem;
    margin-left: -0.8rem;
    border-radius: 4rem 1rem;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .service-container-info-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }
  .service-info {
    align-items: center;
  }
  .service-info h2 {
    font-size: 2.4rem;
    text-align: center;
  }
  #Eris {
    text-align: center;
    color: var(--orange);
    font-size: 3.6rem;
    margin-top: 6rem;
    margin-bottom: -0.6rem;
  }
  #section-brand h1 {
    margin-top: 0.4rem;
  }
  #section-budget {
    min-height: 100vh;
    background-color: blue;
  }
  .budget-container {
    flex-direction: column;
  }
  .budget-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    gap: 2rem;
    width: 100%;
    min-height: 100%;
    background-color: var(--white);
  }
  .budget-container-form h1 {
    text-align: center;
  }
  .budget-container-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .budget-container-form form input {
    padding: 1rem 0.6rem;
    background-color: var(--grayLight);
    border: none;
    border-radius: 1rem;
    min-width: 18rem;
  }
  .budget-container-form-row {
    flex-direction: column;
    gap: 1rem;
  }
  .budget-container-form-row div {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  .budget-container {
    width: 100%;
    height: 100%;
    background-color: green;
  }
  .budget-container-text {
    display: none;
  }
}
#section-show {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

.show-container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  width: 50%;
  height: 100%;
}
.show-container-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0.8;
}

.show-container-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.6rem;
  width: 50%;
}
.show-container-info h2 {
  color: var(--orange);
}

.show-container-buttons-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

#section-budget-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.table-budget-list th, .table-budget-list td {
  border-bottom: 1px solid var(--gray);
  padding: 1.6rem 1.8rem 1.6rem 1.8rem;
}
.table-budget-list i {
  font-size: 1.2rem;
  color: var(--orange);
}

#section-edit-budget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 12rem;
  padding-bottom: 12rem;
  gap: 2rem;
}
#section-edit-budget form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#section-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  min-height: 100vh;
  width: 100%;
}

.about-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.about-img img {
  width: 10rem;
}

.img-about-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.img-about-icons i {
  font-size: 2rem;
  color: var(--orange);
  transition: 0.3s;
}
.img-about-icons i:hover {
  transform: scale(1.02);
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-info P {
  max-width: 40rem;
}

@media screen and (max-width: 900px) {
  #section-about {
    flex-direction: column;
  }
  .about-img {
    margin-top: 10rem;
  }
  .about-info {
    margin-bottom: 6rem;
  }
  .about-info P {
    max-width: 20rem;
  }
}
#section-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 2rem;
}
#section-questions h1 {
  color: var(--orange);
  text-align: center;
}

.container-questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  max-width: 40rem;
}

.container-questions-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.container-questions-item span {
  font-size: 1.8rem;
  color: var(--orange);
  cursor: pointer;
}

.container-questions-dropdown {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
}
.container-questions-dropdown p {
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  .container-questions-item span {
    font-size: 1rem;
    color: var(--orange);
  }
  .container-questions-dropdown p {
    font-size: 1rem;
  }
}
#section-verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.container-verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem 2rem 1rem 2rem;
  gap: 1rem;
}
.container-verify h3 {
  color: var(--orange);
  font-size: 2rem;
  text-align: center;
}
.container-verify p {
  color: var(--gray);
  font-size: 1.2rem;
  text-align: center;
  max-width: 28rem;
}/*# sourceMappingURL=app.css.map */