#header-transparent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1.6rem;
  background-color: var(--white);
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.header-logo {
  width: 6.2rem;
}

.header-nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header-nav-links .nav-link {
  color: var(--gray);
  font-size: 1.14rem;
  transition: 0.3s;
}

.header-nav-links:hover .nav-link {
  color: var(--grayLight);
}

.header-nav-links .nav-link:hover {
  color: var(--orange);
}

.header-nav-links .nav-link-transparent {
  color: var(--white);
  font-size: 1.14rem;
  transition: 0.3s;
}

.header-nav-links:hover .nav-link-transparent {
  color: var(--grayLight);
}

.header-nav-links .nav-link-transparent:hover {
  color: var(--orange);
}

.header-container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-container-user span {
  font-size: 1.2rem;
  color: var(--orange);
  cursor: pointer;
}
.header-container-user span:hover {
  color: var(--ciano);
}

.header-dropdown-items {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 12rem;
  gap: 1.4rem;
  background-color: var(--orange);
  padding: 1.2rem;
  border-radius: 1.6rem;
}
.header-dropdown-items a {
  font-size: 1.2rem;
  color: var(--white);
  transition: 0.3s;
}
.header-dropdown-items a:hover {
  color: var(--ciano);
}

.header-container-btn-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  display: none;
  cursor: pointer;
}
.header-container-btn-mobile .btn-line {
  width: 1.8rem;
  background-color: var(--orange);
  height: 2px;
}

.header_menu_dropdown {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 99;
}

.header_menu_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
}
.header_menu_container a, .header_menu_container h1 {
  color: var(--orange);
  transition: 0.3s;
  cursor: pointer;
}
.header_menu_container a:hover, .header_menu_container h1:hover {
  color: var(--ciano);
}
.header_menu_container i {
  font-size: 1.6rem;
}

.header_menu_close {
  position: relative;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.header_mobile_menu_close {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem 1rem 1rem 0;
}
.header_mobile_menu_close .btn-line {
  width: 2rem;
  background-color: var(--orange);
  height: 3px;
}
.header_mobile_menu_close #btn-close-1 {
  transform: rotate(-45deg);
}
.header_mobile_menu_close #btn-close-2 {
  margin-top: -0.1rem;
  transform: rotate(45deg);
}

.header_menu_user_dropdown {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.4rem;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  #header {
    padding-top: 2rem;
    padding-bottom: 1.6rem;
    position: absolute;
    z-index: 99;
  }
  #nav .btn-default {
    display: none;
  }
  .header-nav-links {
    display: none;
  }
  .header-container-btn-mobile {
    display: flex;
  }
  .header-container-user span {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */